div.msg-wrapper
    if success_msg != ''
        p.msg.msg--success.a= success_msg
    if typeof success != 'undefined'
        p.msg.msg--success.b= success
    if error != ''
        p.msg.msg--error.c= error
    if error_msg != ''
        p.msg.msg--error.d= error_msg
    if errors && errors.length > 0
        each e in errors
            p.msg.msg--error.e= e.msg